<ul class="dropdown-content" id="dropdown1" tabindex="0">
    <li tabindex="0"><a class="grey-text text-darken-2 disabled" href="/registration/new">Register New</a></li>
    <li class="divider" tabindex="-1"></li>
    <li tabindex="0"><a class="grey-text text-darken-2" href="/registration/unknown">Register John Doe</a></li>
    <li tabindex="0"><a class="grey-text text-darken-2" href="/registration/emergency">Emergency Patient</a></li>
    <li class="divider" tabindex="-1"></li>
    <li tabindex="0"><a class="grey-text text-darken-2" href="/registration/client-codes">View Client Codes</a></li>
</ul>