/*----------------------------------------
  Chat App
------------------------------------------*/
.chat-application .chat-content-head {
  height: 65px;
  position: relative;
  top: 35px;
}

.chat-application .chat-content-head .header-details .app-header-icon {
  font-size: 2rem;
  vertical-align: bottom;
}

.chat-application .sidenav-trigger {
  display: none;
}

.chat-application .small-icons {
  font-size: 1.25rem;
  line-height: 1.65rem;
}

.chat-application .truncate {
  overflow: hidden;
  width: 175px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.chat-application .app-chat .chat-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.chat-application .app-chat .chat-content .sidebar-left {
  border-right: 1px solid #eeeeee;
}

.chat-application .app-chat .chat-content .sidebar {
  width: 360px;
}

.chat-application .app-chat .chat-content .sidebar .sidebar-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #eeeeee;
}

.chat-application .app-chat .chat-content .sidebar .sidebar-header .option-icon i.material-icons {
  font-size: 1.85rem;
  color: #9e9e9e;
  cursor: pointer;
}

.chat-application .app-chat .chat-content .sidebar .info-text {
  overflow: hidden;
  width: 175px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #616161;
  font-size: 0.85rem;
}

.chat-application .app-chat .chat-content .sidebar .sidebar-search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem;
}

.chat-application .app-chat .chat-content .sidebar .sidebar-search .search-area {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: calc(100% - 4rem);
}

.chat-application .app-chat .chat-content .sidebar .sidebar-search .search-area .search-icon {
  color: #9e9e9e;
  background-color: #eceff1;
  border-radius: 2rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0.75rem 0.25rem 0.35rem 0.75rem;
  height: 41px;
  margin-right: 0 !important;
  font-size: 1.45rem;
}

.chat-application .app-chat .chat-content .sidebar .sidebar-search .search-area .app-filter {
  color: #9e9e9e;
  border: none;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #eceff1;
  border: none;
  height: 35px;
  border-radius: 2rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0.2rem;
  margin-bottom: 0;
}

.chat-application .app-chat .chat-content .sidebar .sidebar-search .search-area .app-filter:focus {
  border-bottom: none !important;
  box-shadow: none;
}

.chat-application .app-chat .chat-content .sidebar .sidebar-search .search-area .app-filter::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #9e9e9e;
  opacity: 1;
  /* Firefox */
}

.chat-application .app-chat .chat-content .sidebar .sidebar-search .search-area .app-filter::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #9e9e9e;
  opacity: 1;
  /* Firefox */
}

.chat-application .app-chat .chat-content .sidebar .sidebar-search .search-area .app-filter:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #9e9e9e;
  opacity: 1;
  /* Firefox */
}

.chat-application .app-chat .chat-content .sidebar .sidebar-search .search-area .app-filter::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #9e9e9e;
  opacity: 1;
  /* Firefox */
}

.chat-application .app-chat .chat-content .sidebar .sidebar-search .search-area .app-filter::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #9e9e9e;
  opacity: 1;
  /* Firefox */
}

.chat-application .app-chat .chat-content .sidebar .sidebar-search .search-area .app-filter:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #9e9e9e;
}

.chat-application .app-chat .chat-content .sidebar .sidebar-search .search-area .app-filter::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #9e9e9e;
}

.chat-application .app-chat .chat-content .sidebar .sidebar-search .add-user i.add-user-icon {
  background: #212121;
  border-radius: 50%;
  padding: 0.6rem;
  color: #fff;
  font-size: 1.45rem;
}

.chat-application .app-chat .chat-content .sidebar .sidebar-chat {
  height: calc(100vh - 400px);
  overflow: hidden;
  position: relative;
}

.chat-application .app-chat .chat-content .sidebar .sidebar-chat .chat-list .chat-user {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  margin-bottom: 1px;
  cursor: pointer;
  border-right: 3px solid transparent;
}

.chat-application .app-chat .chat-content .sidebar .sidebar-chat .chat-list .chat-user.active {
  background-color: #eceff1;
  border-right: 3px solid #212121;
}

.chat-application .app-chat .chat-content .sidebar .sidebar-chat .chat-list .chat-user:hover {
  background-color: #fafafa;
}

.chat-application .app-chat .chat-content .sidebar .sidebar-chat .chat-list .chat-user .info-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.chat-application .app-chat .chat-content .sidebar .sidebar-chat .chat-list .chat-user .info-section .star-timing {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 75px;
}

.chat-application .app-chat .chat-content .sidebar .sidebar-chat .chat-list .chat-user .info-section .star-timing .favorite {
  line-height: 0;
  margin-right: 0.35rem;
}

.chat-application .app-chat .chat-content .sidebar .sidebar-chat .chat-list .chat-user .info-section .star-timing .time {
  font-size: 0.75rem;
  color: #616161;
}

.chat-application .app-chat .chat-content .sidebar .sidebar-chat .chat-list .chat-user .info-section .badge {
  width: 20px;
  margin-top: 0.25rem;
  font-size: 0.75rem;
}

.chat-application .app-chat .chat-content .media-image.online, .chat-application .app-chat .chat-content .media-image.away, .chat-application .app-chat .chat-content .media-image.offline {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.chat-application .app-chat .chat-content .media-image.online:after, .chat-application .app-chat .chat-content .media-image.away:after, .chat-application .app-chat .chat-content .media-image.offline:after {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  content: '';
  margin-top: -10px;
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.8);
}

.chat-application .app-chat .chat-content .media-image.online.online:after, .chat-application .app-chat .chat-content .media-image.away.online:after, .chat-application .app-chat .chat-content .media-image.offline.online:after {
  background-color: #4CAF50;
}

.chat-application .app-chat .chat-content .media-image.online.away:after, .chat-application .app-chat .chat-content .media-image.away.away:after, .chat-application .app-chat .chat-content .media-image.offline.away:after {
  background-color: #ff9800;
}

.chat-application .app-chat .chat-content .media-image.online.offline:after, .chat-application .app-chat .chat-content .media-image.away.offline:after, .chat-application .app-chat .chat-content .media-image.offline.offline:after {
  background-color: #F44336;
}

.chat-application .app-chat .chat-content .chat-content-area {
  width: 100%;
}

.chat-application .app-chat .chat-content .chat-content-area .chat-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
}

.chat-application .app-chat .chat-content .chat-content-area .chat-header .media-image img {
  max-width: 49px;
}

.chat-application .app-chat .chat-content .chat-content-area .chat-header .chat-text {
  color: #616161;
  font-size: 0.85rem;
}

.chat-application .app-chat .chat-content .chat-content-area .chat-header .option-icon {
  width: 125px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.chat-application .app-chat .chat-content .chat-content-area .chat-header .option-icon i {
  color: #9e9e9e;
  cursor: pointer;
}

.chat-application .app-chat .chat-content .chat-content-area .chat-area {
  background: url("../../images/gallery/chat-bg.jpg") repeat scroll 0 0;
  padding: 1rem;
  height: calc(100vh - 380px);
  overflow: hidden;
  position: relative;
}

.chat-application .app-chat .chat-content .chat-content-area .chat-area .chats {
  padding: 0;
}

.chat-application .app-chat .chat-content .chat-content-area .chat-area .chats .chat {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0.5rem 1rem;
}

.chat-application .app-chat .chat-content .chat-content-area .chat-area .chats .chat.chat-right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.chat-application .app-chat .chat-content .chat-content-area .chat-area .chats .chat.chat-right .chat-avatar {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
}

.chat-application .app-chat .chat-content .chat-content-area .chat-area .chats .chat.chat-right .chat-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.chat-application .app-chat .chat-content .chat-content-area .chat-area .chats .chat.chat-right .chat-body .chat-content {
  text-align: right;
}

.chat-application .app-chat .chat-content .chat-content-area .chat-area .chats .chat.chat-right .chat-body .chat-text {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.chat-application .app-chat .chat-content .chat-content-area .chat-area .chats .chat.chat-right .chat-body .chat-text p {
  background-color: #3f51b5;
  color: #fff;
}

.chat-application .app-chat .chat-content .chat-content-area .chat-area .chats .chat.chat-right .chat-body .chat-text:first-child:before {
  border-right-color: #3f51b5 !important;
  border-top-color: #3f51b5 !important;
  border-left-color: transparent;
  border-bottom-color: transparent;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  box-shadow: 2px -2px 4px -3px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  -webkit-transform-origin: 3px -5px;
  -ms-transform-origin: 3px -5px;
  transform-origin: 3px -5px;
}

.chat-application .app-chat .chat-content .chat-content-area .chat-area .chats .chat.chat-right .chat-body .chat-text:not(:first-child) {
  margin-right: 2rem;
}

.chat-application .app-chat .chat-content .chat-content-area .chat-area .chats .chat .chat-avatar .avatar img {
  width: 40px;
}

.chat-application .app-chat .chat-content .chat-content-area .chat-area .chats .chat .chat-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.chat-application .app-chat .chat-content .chat-content-area .chat-area .chats .chat .chat-body .chat-text {
  margin: 0 1rem 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.chat-application .app-chat .chat-content .chat-content-area .chat-area .chats .chat .chat-body .chat-text p {
  padding: 0.5rem 1rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.14);
  color: #757575;
  max-width: 400px;
}

.chat-application .app-chat .chat-content .chat-content-area .chat-area .chats .chat .chat-body .chat-text:first-child:before {
  width: 0;
  height: 0;
  content: '';
  border: 7px solid transparent;
  border-left-color: #fff;
  border-bottom-color: #fff;
  margin-top: 10px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  box-shadow: -2px 3px 4px -3px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  -webkit-transform-origin: 12px 18px;
  -ms-transform-origin: 12px 18px;
  transform-origin: 12px 18px;
}

.chat-application .app-chat .chat-content .chat-content-area .chat-area .chats .chat .chat-body .chat-text:not(:first-child) {
  margin-left: 2rem;
}

.chat-application .app-chat .chat-content .chat-content-area .chat-footer {
  margin: 1rem;
}

.chat-application .app-chat .chat-content .chat-content-area .chat-footer .chat-input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.chat-application .app-chat .chat-content .chat-content-area .chat-footer .chat-input i {
  line-height: 2;
}

.chat-application .app-chat .chat-content .chat-content-area .chat-footer .chat-input .message {
  background-color: #eceff1;
  border-radius: 5px;
  border-bottom: 0;
  margin-right: 1.5rem;
  padding: 0 1.5rem;
  color: #9e9e9e;
}

.chat-application .app-chat .chat-content .chat-content-area .chat-footer .chat-input .message:focus {
  box-shadow: none;
  border-bottom: 0;
}

.chat-application .app-chat .chat-content .chat-content-area .chat-footer .chat-input .message::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #9e9e9e;
  opacity: 1;
  /* Firefox */
}

.chat-application .app-chat .chat-content .chat-content-area .chat-footer .chat-input .message::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #9e9e9e;
  opacity: 1;
  /* Firefox */
}

.chat-application .app-chat .chat-content .chat-content-area .chat-footer .chat-input .message:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #9e9e9e;
  opacity: 1;
  /* Firefox */
}

.chat-application .app-chat .chat-content .chat-content-area .chat-footer .chat-input .message::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #9e9e9e;
  opacity: 1;
  /* Firefox */
}

.chat-application .app-chat .chat-content .chat-content-area .chat-footer .chat-input .message::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #9e9e9e;
  opacity: 1;
  /* Firefox */
}

.chat-application .app-chat .chat-content .chat-content-area .chat-footer .chat-input .message:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #9e9e9e;
}

.chat-application .app-chat .chat-content .chat-content-area .chat-footer .chat-input .message::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #9e9e9e;
}

.chat-application .app-chat .chat-content .chat-content-area .chat-footer .chat-input .send {
  padding: 0.3rem 3rem 0.3rem 2.5rem;
  height: 42px;
  border-radius: 0.25rem;
}

.chat-application .app-chat .sidenav-trigger {
  position: absolute;
  top: 102px;
  display: none;
}

.chat-application .no-data-found {
  display: none;
}

.chat-application .no-data-found.show {
  display: block;
}

.page-header-dark .chat-application .chat-content-head .header-details .sidebar-title {
  color: #fff;
}

.page-header-dark .chat-application .chat-content-head .header-details .sidebar-title .app-header-icon {
  color: #fff;
}

.page-header-dark .chat-application .app-chat .sidenav-trigger i {
  color: #fff;
}

@media screen and (max-width: 899px) {
  .horizontal-layout .app-chat .sidebar .sidebar-content .sidebar-menu#sidebar-list {
    height: auto;
  }
}

@media (min-width: 900px) {
  .chat-application .app-sidebar {
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
  }
  .sidenav-overlay {
    display: none !important;
    opacity: 0 !important;
  }
}

@media (max-width: 900px) {
  .sidenav-overlay {
    z-index: 995;
  }
  .chat-application .app-sidebar {
    -webkit-transform: translateX(-105%);
    -ms-transform: translateX(-105%);
    transform: translateX(-105%);
    width: 320px;
  }
  .chat-application .chat-content-head .header-details {
    margin-left: 3rem;
  }
  .chat-application .app-chat .sidenav-trigger {
    display: block !important;
  }
  .chat-application .app-chat .chat-content {
    display: block;
  }
  .chat-application .app-chat .chat-content .sidebar .sidebar-chat {
    height: calc(100vh - 225px);
  }
  .chat-application .app-chat .chat-content .sidebar #sidebar-list.sidebar-show {
    z-index: 996;
  }
}

@media (max-width: 600px) {
  .sidebar .sidebar-content .sidenav {
    top: 56px !important;
  }
  .chat-application .app-chat .sidenav-trigger {
    top: 93px;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
  .chat-application .app-chat .chat-content .sidebar {
    width: 300px;
  }
}

@media screen and (max-width: 540px) {
  .chat-application .app-chat .chat-content .chat-content-area .chat-footer .chat-input .send {
    padding-left: 1.8rem;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .chat-application .app-chat .chat-content .chat-content-area .chat-area .chats .chat .chat-body :first-child.chat-text::before {
    content: none;
  }
  .chat-application .app-chat .chat-content .chat-content-area .chat-area .chats .chat .chat-body :not(:first-child).chat-text {
    margin-left: 1rem;
  }
  .chat-application .app-chat .chat-content .chat-content-area .chat-area .chats .chat-right.chat .chat-body :not(:first-child).chat-text {
    margin-right: 1rem;
  }
}
