@model AfyaHMIS.ViewModel.HomeIndexViewModel;

@{
    ViewData["Title"] = "Home";
}

<div class="text-center col s12">
    <h4 class="display-4">Welcome to Afya HMIS</h4>
</div>

<div class="row">
    <div class="col s12 m3 l2">
        <a class="blue-text" href="/registration/search">Registration</a>
    </div>

    <div class="col s12 mt-3">Loading Modules..</div>
</div>
