@model AfyaHMIS.ViewModel.RegistrationNewEditViewModel;
@{
    ViewData["Title"] = "Edit Patient";
}

<div class="content-wrapper-before gradient-45deg-indigo-blue"></div>
<div class="breadcrumbs-dark pb-0 pt-2" id="breadcrumbs-wrapper">
    <!-- Search for small screen-->
    <div class="container">
        <div class="row">
            <div class="col s10 m6 l6">
                <h5 class="breadcrumbs-title mt-0 mb-0"><span>{Patient Name}</span></h5>
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/registration/">Registration</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Edit @Model.Patient.Uuid
                    </li>
                </ol>
            </div>
            <div class="col s2 m6 l6">
                <a class="btn dropdown-settings waves-effect waves-light breadcrumbs-btn right" href="#!" data-target="dropdown1"><i class="material-icons hide-on-med-and-up">settings</i><span class="hide-on-small-onl">Options</span><i class="material-icons right">arrow_drop_down</i></a>
                <ul class="dropdown-content" id="dropdown1" tabindex="0">
                    <li tabindex="0"><a class="grey-text text-darken-2 disabled" href="/registration/new">Register New</a></li>
                    <li class="divider" tabindex="-1"></li>
                    <li tabindex="0"><a class="grey-text text-darken-2" href="/registration/unknown">Register John Doe</a></li>
                    <li tabindex="0"><a class="grey-text text-darken-2" href="/registration/emergency">Emergency Patient</a></li>
                    <li class="divider" tabindex="-1"></li>
                    <li tabindex="0"><a class="grey-text text-darken-2" href="/registration/client-codes">View Client Codes</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>