@model AfyaHMIS.ViewModel.RegistrationNewEditViewModel;
@{
    ViewData["Title"] = "Edit Patient";
}

<div class="content-wrapper-before gradient-45deg-indigo-blue"></div>
<div class="breadcrumbs-dark pb-0 pt-2" id="breadcrumbs-wrapper">
    <!-- Search for small screen-->
    <div class="container">
        <div class="row">
            <div class="col s10 m6 l6">
                <h5 class="breadcrumbs-title mt-0 mb-0"><span>Edit Patient</span></h5>
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/registration/search">Registration</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Edit
                    </li>
                </ol>
            </div>
            <div class="col s2 m6 l6">
                <a class="btn dropdown-settings waves-effect waves-light breadcrumbs-btn right" href="#!" data-target="dropdown1"><i class="material-icons hide-on-med-and-up">settings</i><span class="hide-on-small-onl">Options</span><i class="material-icons right">arrow_drop_down</i></a>
                <partial name="_RegistrationMenuPartial" />
            </div>
        </div>
    </div>
</div>